@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sofia&display=swap");

/** -------Basic------- **/
h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  color: #363958;
}
img {
  max-width: 100%;
}

.bg-light-color {
  background-color: #fffbf0;
}
.text-highlight {
  color: #fabe4c;
}
.custom-btn {
  font-size: 14px;
  color: #ffffff;
  padding: 9px 20px;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(#a4bc46, #85a019);
}
.custom-btn i {
  margin-right: 10px;
}
.custom-btn:hover {
  color: #ffffff;
}
.text-title {
  position: relative;
}
.text-title::before {
  content: "";
  width: 40px;
  height: 5px;
  background: linear-gradient(120deg, #fabe4c, #85a019);
  position: absolute;
  left: 0;
  bottom: -3px;
}
.card-title {
  color: #363958;
}
.origin-price {
  color: #9e9e9e;
  text-decoration: line-through;
}

/** -------Navbar------- **/
.custom-nav .navbar-brand img {
  height: 28px;
}
.custom-nav .nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.custom-nav .nav-item:last-child {
  margin-right: 0;
}

/** -------Penguin Home------- **/
.penguin-home {
  padding: 20px 0;
}
.penguin-home h1 {
  font-size: 55px;
}

/** -------Man - Woman Jacket------- **/
.jacket-product .card {
  border: 0;
  border-radius: 15px;
  box-shadow: 0 5px 20px #00000017;
}
.jacket-product .card-img {
  height: 270px;
  background-color: #f1f1f1;
  width: 88%;
  margin: auto;
  margin-top: 15px;
  border-radius: 15px;
}
.jacket-product .card-img img {
  max-height: 100%;
  width: auto;
  transition: transform 0.3s ease-in-out;
}
.jacket-product .card:hover img {
  transform: scale(1.05);
}
.jacket-product .card-footer {
  background-color: transparent;
  border-top: 0;
  justify-content: space-between;
  align-items: center;
}

/** -------Shop Information------- **/
.shop-info .icon {
  width: 80px;
  margin-right: 15px;
}
.shop-info .shadow-sm {
  box-shadow: 0 0.125rem 2rem rgba(0, 0, 0, 0.075) !important;
}
.shop-info-img {
  padding-left: 70px;
}

/** -------Discount Offer------- **/
.discount-offer h1 {
  font-family: "Sofia", cursive;
  font-style: italic;
  font-weight: 700;
}
.discount-offer .custom-btn {
  margin-left: 50px;
}

/** -------Footer------- **/
.contact {
}
.contact .icon {
  font-size: 35px;
  margin-right: 15px;
  width: 50px;
  text-align: center;
}
.contact h6 {
  font-size: 16px;
}
.contact p {
  font-size: 14px;
  margin-bottom: 0;
}
.subscribe .form-control {
  color: #ffffff;
  background-color: transparent;
}

/** -------Responsive------- **/
@media (max-width: 991px) {
  .custom-btn {
    padding: 8px 15px;
  }
  .custom-btn i {
    margin-right: 5px;
  }

  /* Man - Woman Jacket */
  .card-footer h2 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .text-title {
    text-align: center;
  }
  .text-title::before {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Shop Information */
  .shop-info-img {
    padding-left: 0;
    margin-bottom: 50px;
  }

  /* Discount Offer */
  .discount-offer img {
    margin-bottom: 30px;
  }
  .discount-offer .discount-btn-info {
    justify-content: space-between;
  }
  .discount-offer .custom-btn {
    margin-left: 0;
  }

  /* Footer */
  .contact-info {
    margin-bottom: 10px;
  }
}
